Source: dvdauthor
Section: otherosfs
Priority: optional
Maintainer: Marc Leeman <marc.leeman@gmail.com>
Build-Depends: debhelper (>= 10),
                bison,
                cdbs,
                docbook-to-man,
                docbook-utils,
                libfreetype6-dev,
                flex,
                libdvdread-dev,
                libfribidi-dev,
                libmagick++-dev,
                libpng-dev,
                libxml2-dev,
                quilt
Standards-Version: 3.9.8
Homepage: http://dvdauthor.sourceforge.net/
Vcs-git: https://github.com/mleeman/dvdauthor.git
Vcs-Browser: https://github.com/mleeman/dvdauthor

Package: dvdauthor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: create DVD-Video file system
 dvdauthor is a program that will generate a DVD movie from a valid
 mpeg2 stream that should play when you put it in a DVD player.
