Source: dvdauthor
Section: otherosfs
Priority: optional
Maintainer: Marc Leeman <marc.leeman@gmail.com>
Uploaders: Marc Leeman <m.leeman@televic.com>
Build-Depends: debhelper-compat (= 13),
                bison,
                docbook-to-man,
                docbook-utils,
                libfreetype6-dev,
                flex,
                libdvdread-dev,
                libfribidi-dev,
                libmagick++-dev,
                libpng-dev,
                libxml2-dev,
                quilt
Standards-Version: 4.6.0
Homepage: http://dvdauthor.sourceforge.net/
Vcs-Git: https://salsa.debian.org/den_erpel/dvdauthor.git
Vcs-Browser: https://salsa.debian.org/den_erpel/dvdauthor/

Package: dvdauthor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: create DVD-Video file system
 dvdauthor is a program that will generate a DVD movie from a valid
 mpeg2 stream that should play when you put it in a DVD player.
